<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card [id]="'1'" [photoCover]="'https://img1.gratispng.com/20180601/cjj/kisspng-domestic-short-haired-cat-whiskers-paw-figurine-cat-toy-5b114675d20c16.8199523515278588058604.jpg'" [cardTitle]="'Título do componente'" [cardDescription]="'Descrição detalhada do componente'"></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card [id]="'2'" [cardDescription]="'Descrição detalhada do componente'" [photoCover]="'https://m.media-amazon.com/images/I/81qWTOQj0fL.jpg'"></app-small-card>
    <app-small-card [id]="'3'" [cardDescription]="'Descrição detalhada do componente'" [photoCover]="'https://m.media-amazon.com/images/I/71HEcHGQ3+L._AC_UF894,1000_QL80_.jpg'"></app-small-card>
    <app-small-card [id]="'4'" [cardDescription]="'Descrição detalhada do componente'" [photoCover]="'https://m.media-amazon.com/images/I/315MDaLENGL._AC_.jpg'"></app-small-card>
    <app-small-card [id]="'5'" [cardDescription]="'Descrição detalhada do componente'" [photoCover]="'https://www.manhattantoy.com/cdn/shop/products/Collection-Lankies_Group_51dbd5a1-338e-4faf-ac62-56ee3c8c9da4.jpg?v=1673025541&width=256'"></app-small-card>
  </div>
</div>
